<a href="https://colab.research.google.com/github/How-to-Learn-to-Code/python-class/blob/master/Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lesson 1 - Set up and the basics

Learning objective:  Students will be comfortable doing basic commands in Jupyter notebooks, understand what a programming language is, and understand the difference between a Jupyter notebook and a python script.

**Specific coding skills:**


*   basic math operators (+, -, *, /)
*   assignment operator (=)
*   basic functions (len(), type())
*   common data classes (integer, float, string, boolean)
*   comparison operators (>, <, ==, >=, <=)

### Introduction to jupyter

"The Jupyter Notebook is an incredibly powerful tool for interactively developing and presenting data science projects. A notebook integrates code and its output into a single document that combines visualizations, narrative text, mathematical equations, and other rich media. The intuitive workflow promotes iterative and rapid development, making notebooks an increasingly popular choice at the heart of contemporary data science, analysis, and increasingly science at large. " - [dataquest](https://www.dataquest.io/blog/jupyter-notebook-tutorial/)

All of our lessons will be presented in jupyter notebooks. You can follow along in a partially filled out jupyter notebook and fill in lessons as you go. Let's get started! 

Each cell can include text (like this one) or code. To run the python code in a cell, you just hit shift + enter. Try it with the code below.

In [9]:
print("Hello World!")

Hello World!

### Basic math operators
Python can do math for you, which is convenient. To get used to doing writing and running code in jupyter, we're going to do some basic math. Let's calculate the following expressions:

$$ 2 + 3 $$

In [10]:
2+3

5

$$ \frac{6}{2} * 20 +100 $$

In [ ]:
6/2*20+100

$$ 2^{24} $$

In [11]:
2^(24)

26

Did you get the answer you expected for the last problem? If you used a `^` for the exponent you got the answer 26, which definitely isn't right. It is important to check the answers you get from code to make sure they seem reasonable. If they don't seem right, there is probably a bug in your code. 

In python you have to use `**` for exponents. The `^` operator is used for bit-wise XOR in python (and many other programming languages), which we will not discuss in this class. Try again using this `**` operator!

In [12]:
2**24

16777216

That's better! Make sure you use `**` any time you need to use exponents.

### The assignment operator

It is convenient to have python store and remember variables so you can use them later. You can do this with the assignment operator (`=`). Let's assign a few variables.

In [2]:
x = 1
y = 2
z = 3
print(x, y, z)

1 2 3

Here you can see that we assigned the values 1, 2, and 3 to the variables `x`, `y`, and `z` respectively. We then printed x, y, and z to see what the values were. Try assigning variables yourself. Assign 2, 4, and 8 to `a`, `b`, and `c` respectively.

In [3]:
a = 2
b = 4
c = 8

Notice that if you don't include a `print()` statement, running the cell doesn't return anything. That's okay though; the variables are still assigned (unless you got an error) and available for use in all other code cells. 

Now we can easily call our variables and do basic operations with them. Calculate the following:
$$ x + b $$
$$ z * c $$
$$ \left(\frac{b}{y}\right) ^ z $$

In [1]:
x+b
z*c
(b/y)**z

NameError: name 'x' is not defined

Notice that only the last solution is returned. If you want all of the solutions to be returned, include print statements.

In [ ]:
print(x+b)
print(z*c)
print((b/y)**z)

### Data types
In this class we will be focusing on four main data types
* string
* integer
* float
* boolean

#### Strings
Strings are essentially text. We used a string in our very first cell when we ran `print("Hello World!")`.  `"Hello World!"` is a string. You can assign strings to variables and utilize them, just like we did with numbers in the previous section. Here is an example:

In [ ]:
str1 = 'GCGCTCAAT'
str2 = 'TACTAGGCA'
str3 = 'AATCGCTAG'
print(str1, str2, str3)

#### Integers
Integers are positive or negative whole numbers with no decimals. We have already used a few in this lesson like our variables `a`, `b`, `c`, `x`, `y`, and `z`.

In [ ]:
print(a, b, c, x, y, z)

#### Floats
Floats, short for floating point real values, are positive or negative numbers with decimals. You saw some when we did division. Like integers, floats can also be assigned to variables and used to do arithmetic.

In [ ]:
f1 = 4.2
f2 = 3.0
f3 = -2.1
print(f1, f2, f3)
print(f1+f3)

### Comparison operators
Comparison operators (>, <, ==, >=, <=) work like you would expect them to in mathematics. Let's try a few comparisons (remember to use print statements to see all of the results).
$$ 2>1 $$
$$ 4<=2 $$
$$ 5==5 $$
$$ 6>=6$$
$$ 7<3 $$

In [ ]:
print(2 > 1.5)
print(4 <= 2)
print(5 == 5.0)
print(6 >= 6)
print(7.4 < 3)

Each of these comparisons results in a new data type known as a Boolean.

#### Booleans

Booleans only have two values: either `True` or `False`. They are often used for comparisons, for many different types of data. As with other data types, you can assign Booleans to variables. Here are a few cases where Booleans might be useful. Can you guess the value of each comparison before running the cell?

In [ ]:
comparison1 = 2 > 1.5
print(comparison1)
comparison2 = 'This is a string' == 'This is a string'
print(comparison2)
comparison3 = '5' == 5
print(comparison3)

### Basic functions

We've already started using one basic function, `print()`. You may have already figured out what it does, but it prints the information inside the parentheses to the cell output. Since you have already had some practice with that. Let's explore some other basic functions. 

The function `type()` returns the data type of the argument you pass it. See the example below:

In [ ]:
type(2.1)

Now use `type()` to find the data type of the following objects: `1`, `True`, and `'Hello World!'`.

In [ ]:
type(1)

In [ ]:
type(True)

In [ ]:
type('Hello World!')

There are functions that let you specify the data type. `int()`, `float()`, `bool()`, and `str()` let you specify data as an integer, float, boolean, or string. Let's take a look at how this works for the `int()` function.

In [ ]:
print(int(2.1))
print(int(2.8))

Notice that both `2.1` and `2.8` result in `2` when assigned to be integers. This is because the `int()` function does **not** round, it just removes the decimal. 

You'll get an opportunity to learn how each of these functions work in the Exercises section.

### Exercises
The following exercise will help you understand the concepts taught in this lesson better. It is only one problem, but covers operators, comparison, data types, and basic functions.

Predict the results of the following expressions, and use python the check your answers (know that some of these may result in errors):
```
1 > 3
14 >= 2*7
"1" > "3"
bool(10) > 2
0 == False
0 == str(False)
0 == str(int(False))
str(0) == 0
True == 1**0
int(True) == str(1**0)
float("one") == 1
```

## Scripting vs Jupyter Notebooks